html, body {
  margin: 0;
}

.ml-100 {
  margin-left: 100px;
}


.ml-200 {
  margin-left: 200px;
}

.mr-50 {
  margin-right: 50px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}



